* {
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
   
}

.page-header {
    width: 100%;
    height: 5em;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-header #logo {
    position: relative;
    right: 150px;
    font-size: 2em;
    font-family: "Nunito",sans-serif;
    
    text-decoration:ove;

    color: #202020;
}

.page-header img {
    position: relative;
    left: 230px;
    width: 4em;
}

.home {
    width: 100%;
    height: 170vh;

    background-image: url("./images/code.png");
    background-size: cover;

}

.home #about-me {
    width: 500px;
    height: 300px;
    
    text-shadow: 4px 4px 4px black;

    align-items: center;

    color: #fff;

    position: relative;
    top: 8em;
    left: 15em;
}

.img-about-me {
    position: relative;
    right: 575px;
    bottom: 15px;
    

    box-shadow: 12px 7px 20px black;

    width: 300px;
    height: 300px;

    background-image: url("./images/Electric\ Love\ -\ A\ New\ Student.jfif");
    background-size: cover;

    border-radius: 150px;
}

#about-me h1 {
    width: 320px;
    position: relative;
    bottom: 275px;
    left: 45px;

    font-size: 3em;
    font-family: "Nunito",sans-serif;

}

#about-me p {
    position: relative;
    bottom: 250px;
    

    font-size: 25px;
    font-family: "Nunito",sans-serif;
    text-align: center;

    
}

.competence {
    width: 500px;
    height: 300px;
    
    text-shadow: 4px 4px 4px black;

    align-items: center;

    color: #fff;

    position: relative;
    top: 500px;
    left: 20px;
}

.competence h1 {
    width: 320px;
    position: relative;
    bottom: 275px;
    left: 0px;

    font-size: 3em;
    font-family: "Nunito",sans-serif;

}

.competence p {
    position: relative;
    bottom: 250px;
    

    font-size: 25px;
    font-family: "Nunito",sans-serif;
    text-align: center;

}   