* {
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
   
}

.page-header {
    width: 100%;
    height: 5em;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-header #logo {
    position: relative;
    right: 150px;
    font-size: 2em;
    font-family: "Nunito",sans-serif;
    
    text-decoration:ove;

    color: #202020;
}

.page-header img {
    position: relative;
    left: 230px;
    width: 4em;
}


